<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            $("#searchbtn").on("click",function (e) {
                e.preventDefault();
                var searchVal = $("#search-val").val();
                window.open("http://localhost:8080/?name="+searchVal,"_self");
            });
            setInterval(function () {
                $.get("/currentcount", function (data){ $("#page-counter").html("Total number of page hits -"+data); })
            },1000)
        })
    </script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 style="text-align: center; width: 100%;">Products Inventory</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="input-group mb-3">
                <input id="search-val" type="text" th:value="${#request.getParameter('name')}"  class="form-control" placeholder="Search By Name.." aria-label="SearchName" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <a href="#" class="btn btn-outline-secondary" id="searchbtn" type="button"><i class="fa fa-search"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="" style="text-align: right">
                <a href="/addproduct" class="btn btn-primary">
                    Add Products
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="page-counter" style="text-align: right">

            </div>
        </div>
    </div>
    <div class="row">
        <div th:each="product:${products}" style="padding-top: 15px;" class="col-md-3 md-offset-1 ">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" th:text="${product.name}"></h5>
                    <p class="card-text" th:text="${product.description}"></p>
                    <h6>Quantity: &nbsp; <b th:text="${product.quantity}"></b></h6>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>